extends Layout/main

block content
    article(class='markdown-body')
        span(class='refresh-url')
            a(href=setupUrl) MythX login
        h1(class='main-title') MythX Security Report
        if missingCredentials
            h6 Missing MythX credentials, please login with your MythX account.
        else
            h6 Below you can find analysis for #{analysis.length} contracts defined in configuration. Contract analysis is performed using MythX service.
            each report in analysis
                hr
                if  !report.success
                    h3 #{report.contractFilePath.split(".")[0]}
                    p.bg-danger #{report.message}
                    if report.compileErrors
                        h4 Compile errors
                        table
                            tr
                                th Message
                                th Severity
                                th Reason
                            each err in report.compileErrors
                                tr
                                    td #{err.message}
                                    td
                                        span.bg-danger #{err.severity}
                                    td
                                        pre(lang="no-highlight")
                                            code #{err.formattedMessage}
                else
                    h3 #{report.contractFilePath.split(".")[0]}
                    if report.issues.length === 0
                        p ✔ Security check successful
                    else
                        h4 Security Issues
                        table
                            tr
                                th swcID
                                th swcTitle
                                th Severity
                                th Location
                                th Description
                            each issue in report.issues
                                tr
                                    td(class=severity.getSeverityClass(issue.severity)) #{issue.swcID}
                                    td(class=severity.getSeverityClass(issue.severity)) #{issue.swcTitle}
                                    td(class=severity.getSeverityClass(issue.severity)) #{issue.severity}
                                    td(class=severity.getSeverityClass(issue.severity)) #{issue.location}
                                    td(class=severity.getSeverityClass(issue.severity)) #{issue.description}
